body {
    background-color: rgb(208, 253, 247);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    display: flex;
    flex-direction: column;
}

* { margin: 0; padding: 0; border-color: green;}

.header {
    background-color: rgba(0, 97, 92, 0.884);
    height: 70px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:aliceblue;
}

.footer {
    background-color: rgb(0, 61, 38);
    height:auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:aliceblue;
    padding: 15px;
    margin-top: 50px;

}

.firstheader {
    flex-grow: 1;
    text-align: center;
}

.secondheader {
    display: flex;
    width: auto;
    justify-content: end;

}

.secondheader a {
    margin: 50px;
    height: auto;
    text-align: center;
    font-size: large;
    color: white;

}

.main {
    border: 5px;
    /* border-style: solid; */
    border-color: black;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.roundBox {
display: flex;
align-items: center;
font-size: 30px;
}

.description {
    height: 50px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.inputs {
    display: flex;
    justify-content: center;
    color: black;
    height: 100px;
    /* border-style: dashed;    */
} 

.inputs div, .reset{
    width: 100px;
    height: 100px;
    margin: 0px 25px 0px 25px;
    background-color: rgb(144, 238, 222);
    border-style: solid;
}

.reset {
    display: flex;
    justify-content: center;
    align-items: center;
}

.compPick {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.compInfo {
    height: 50px;
    display: flex;
    align-items: center;
}

.compChoice {
    width: 100px;
    height: 100px;
    background-color: rgb(189, 248, 238);
}


.result {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    
}

.resultInfo {
    /* border-style: solid; */
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.resultScore {
    /* border-style: solid; */
    display: flex;
    
}

.resultScoreUser, .resultScoreComp{
    height: 150px;
    border-style: solid;
    margin: 0px 15px 0px 15px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.rock img, .paper img, .scissor img , #compPick{
    width: inherit;
    height: inherit;
}

.rock, .paper, .scissor  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultScoreUser2, .resultScoreComp2{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

